body { 
	background-color: black;
}

.titlecard {
	padding: 0px;
	margin: 0px;
}

.about-header {
	padding-left: 50px;	
	padding-top: 50px;
}

.about-header img{
	border: 10mm outset #3ac13a;
	padding: 0px;
}

h1 {
    	color: #3ac13a;
		font-size: 9em;
}

h2 {
	color:  #3ac13a;
	font-family: 'VT323'; 
	font-size: 20px;
}

h3 {
	color:  #3ac13a;
	font-family: 'VT323'; 
	font-size: 20px;
}
    

h4 {
	color:  #3ac13a;
	font-family: 'VT323'; 
	font-size: 20px;
}

h5 {
	color: red;
	font-family: 'VT323'; 
	font-size: 20px;
}

p {
	color:  #3ac13a;
	font-family: 'VT323'; 
	font-size: 20px;
}

li {
	color:  #3ac13a;
	font-family: 'VT323'; 
	font-size: 20px;
}
